 /* gogle fonts */
 @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mrs+Sheppards&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

 * {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    min-height: 100vh;
    background: linear-gradient(#eeeeee, #c8c7ff);
 }

 #chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: #5350c4;
    transition: all 0.3s ease;
 }

.styled-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #5350c4;
  padding: 20px 30px;
  
}

 #scroll-input {
    width: 300px;
    height: 30px;
    overflow-x: auto;
    /* Yalnızca yatay kaydırma çubuğu ekler */
    white-space: nowrap;
 }

 #chatbot-toggler span {
    color: #fff;
    position: absolute;
 }

 #chatbot-toggler span :last-child {
    opacity: 0;
 }

 body.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
 }


 body.show-chatbot #chatbot-toggler span:first-child,



 body.show-chatbot #chatbot-toggler span :last-child {
    opacity: 1;

 }

 .chatbot-popup {
    position: fixed;
    transform: scale(0.2);
    transform-origin: bottom, right;
    right: 35px;
    opacity: 0;
    pointer-events: none;
    bottom: 90px;
    width: 420px;
    background: #ffff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
 }

 body.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
 }

 .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #42428e;
    padding: 15px 22px;
 }

 .chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
 }

 .header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #ffff;
    padding: 6px;
    flex-shrink: 0;
    fill: #3d39ac;
 }

 .header-info .logo-text {
    color: #ffff;
    font-size: 1.3rem;
    font-weight: 600;
 }

 .chat-header #close-chatbot {
    border: none;
    display: flex;
    color: #ffff;
    width: 40px;
    height: 40px;
    margin-right: -10px;
    cursor: pointer;
    background: none;
    padding-top: 2px;
    border-radius: 50%;
    transition: 0.2s ease;
 }

 .chat-header #close-chatbot :hover {
    background-color: #3d39ac;

 }

 .chat-body {
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    margin-bottom: 82px;
    height: 460px;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
 }

 .chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;

 }

 .chat-body .bot-message .message-text {
    background: #f2f2ff;
    border-radius: 13px 13px 13px 3px;

 }

 .chat-body .bot-message .thiking .message-text {
    padding: 2px 16px;
 }

 .chat-body .user-message .message-text {
    background: #2257d1;
    border-radius: 13px 13px 3px 13px;
    color: #ffff;

 }

 .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
 }

 .chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
 }

 .chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #3d39ac;
    padding: 6px;
    flex-shrink: 0;
    fill: #ffff;
    align-self: flex-end;
    margin-bottom: 2px;
 }

 .chat-body .bot-message .thiking-indicator {
    display: flex;
    gap: 4px;
    padding-block: 15px;
 }

 .chat-body .bot-message .thiking-indicator .dot {
    height: 7px;
    width: 7px;
    opacity: 0.7;
    background: #2257d1;
    border-radius: 50%;
    animation: dotPulse 2s ease-in-out infinite;
 }

 .chat-body .user-message .attachment {
    width: 50px;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
 }

 .chat-body .bot-message .thiking-indicator .dot :nth-child(1) {
    animation-delay: 0.2s;
 }

 .chat-body .bot-message .thiking-indicator .dot :nth-child(2) {
    animation-delay: 0.3s;
 }

 .chat-body .bot-message .thiking-indicator .dot :nth-child(3) {
    animation-delay: 0.4s;
 }

 /* yazıyor animasyonu */
 @keyframes dotPulse {

    0%,
    44% {
       transform: translateY(0);
    }

    28% {
       opacity: 0.4;
       transform: translateY(-4px);
    }


    44% {
       opacity: 0.2;

    }
 }

 .chat-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #ffff;
    padding: 15px 22px 20px;
 }

 .chat-footer .chat-form {
    display: flex;
    position: relative;
    align-items: center;
    background: #ffff;
    outline: 1px solid #cccce5;
    border-radius: 32px;
 }

 #file-cancel {
    display: none;
 }

 .chat-footer .chat-form:focus-within {
    outline: 1px solid #5350c4;
 }

 .chat-form .message-input {
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    font-size: 0.95rem;
    border-radius: inherit;
    padding: 14px 0 13px 18px;
    resize: none;



 }

 .chat-form .chat-controls {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
    height: 47px;
 }

 .chat-form .chat-controls button {
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    background: none;
    color: #706db0;
    transition: 0.2s ease;
    font-size: 1.15rem;
 }

 .chat-form .chat-controls #send-message {
    background: #5350c4;
    color: #fff;
    display: none;
 }

 .chat-form .message-input:valid~.chat-controls #send-message {
    display: block;
 }

 .chat-form .chat-controls #send-message:hover {
    background: #3d39ac;
 }

 .chat-form .chat-controls button:hover {
    background: #f1f1ff;
 }

 .chat-form .file-upload-wrapper {
    height: 35px;
    width: 35px;
 }

 .chat-form .file-upload-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: none;
 }

 .chat-form .file-upload-wrapper img #file-upload {
    display: block;
 }

 em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    transform: translateX(-50%);
    visibility: hidden;
 }

 body.show-emoji-picker em-emoji-picker {
    visibility: visible;
 }